<div class="container">
    <div class="row">    
        <div id="FotoPerfil">
            <img src="../../../../assets/FotoPerfil.jpg" alt="FotoPerfil">
        </div>
    </div>
    <div id="Texto" class="row">        
        <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-12 col-xs-12">
            <h2>Medina, Mauro M.</h2>
            <h3>(Programador Web Full Stack Jr.)</h3>
        </div>
        <div class="col-xxl-8 col-xl-8 col-md-8 col-sm-12 col-xs-12">
            <h4> Lorem ipsum dolor sit amet, consectetur adipisicing el  elementum. Lorem ipsum dolor sit amet, consectetur adipisicing el elementum.<br/>
            Lorem ipsum dolor sit amet, consectetur adipisicing el elementum.<br/>
            Lorem ipsum dolor sit amet, consectetur adipisicing el elementum.<br/>
            Lorem ipsum dolor sit amet, consectetur adipisicing el elementum.<br/>
            Lorem ipsum dolor sit amet amet.<br/></h4>
        </div>
    </div>
</div>