.row {
    margin-bottom: 10px;
}
#Titulo {
    display: block;
    text-align: center;
}
h1 {
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: yellowgreen;
    font-family: italic;
    margin-top: 1%;
    padding: 10px;
}
#Texto {
    background-color: aliceblue;
    border: 2px solid red;
}
/** media queries **/
@media (max-width: 767.5px) {
    #Texto {
        padding: 5px;
        text-align: center;
    }
}