<div class="container">
    <div class="row">
        <div id="BoxAP" class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
          <img id="APLogo" class="image-responsive" type="image/png" src="../../../../assets/APLogo-20-20.png" alt="PorfolioAPLogo-20-20">
        </div>
        <div id="Texto" class="col-sm-2 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <h1>Argentina-Programa</h1>
            <h2>#Yo-Programo</h2>
        </div>
        <div id="Redes-Login" class="col-xs-12 col-sm-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <button id="Login" class="btn btn-primary">Login</button>
            <a id="Redes-Sociales" class="image-responsive" href="https://www.twitter.com/"><img type="image/png" src="../../../../assets/twitter.png"></a>
            <a id="Redes-Sociales" class="image-responsive" href="https://www.instagram.com/"><img type="image/png" src="../../../../assets/instagram.png"></a>
            <a id="Redes-Sociales" class="image-responsive" href="https://www.facebook.com/"><img type="image/png" src="../../../assets/facebook.png"></a>
        </div>
    </div>
    <div class="row">    
        <div id="Banner" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <img class="img-responsive" src="../../../../assets/Banner.jpeg" alt="Banner">
        </div>
    </div>
</div>